.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #0b0e13; /* EXACTEMENT LA MÊME COULEUR QUE LE SITE */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #111;
  z-index: 9999;
}

.menu-item {
  color: #aaa;
  font-size: 13px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  transition: 0.2s ease;
}

.menu-item .icon {
  font-size: 22px;
}

.menu-item:hover {
  transform: scale(1.1);
  color: #fff;
}

/* ACTIVE MENU */
.menu-item.active {
  color: #ff3355;
}

.menu-text {
  font-size: 11px;
}

/* MOBILE FIX */
@media (max-width: 768px) {
  .bottom-menu {
    height: 65px;
  }
  
  .menu-item .icon {
    font-size: 20px;
  }
}
.notif-icon-wrapper {
  position: relative;
  display: inline-block;
}

.notif-badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background: red;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 50%;
}