.fade-in {
  opacity: 0;
  animation: fadeAppear .45s ease forwards;
  filter: blur(6px);
}

@keyframes fadeAppear {
  0% {
    opacity: 0;
    filter: blur(6px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
