.global-loader {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeOut 0.5s ease forwards;
  opacity: 1;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 5px solid #333;
  border-top-color: #ff0033;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

/* disparition */
@keyframes fadeOut {
  to { opacity: 0; visibility: hidden; }
}

/* rotation spinner */
@keyframes spin {
  to { transform: rotate(360deg); }
}
